<div class="preloader" style="display: none;">
    <div class="preloader-1"></div>
</div>

<header>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="contacts">
                        <p>
                            <i class="fa fa-phone-square"></i>
                            320-245-6082
                        </p>
                        <p>
                            <i class="fa fa-envelope-square"></i>
                            support@oceanthemes.net
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="social-media">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-bar">
        <div class="container">
            <div class="row">
            <h1><a href="#">Logo</a></h1>
            <nav>
                <ul class="main-menu">
                    <li>
                        <a href="#">home</a>
                        <ul>
                            <li><a href="#">item1</a></li>
                            <li><a href="#">item2</a></li>
                            <li><a href="#">item3</a></li>
                            <li><a href="#">item4</a></li>
                            <li><a href="#">item5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Products</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </nav>
            </div>
        </div>
    </div>
</header>